@keyframes rubberBand {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }
  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
.background-login {
  height: 100vh;
  background-color: #f0f2f4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.background-login .title {
  text-align: center;
  font-size: 48px;
}
.background-login .auth {
  width: 50%;
  max-width: 500px;
}
@media only screen and (max-width: 600px) {
  .background-login .auth {
    width: 80%;
  }
}
.background-login .auth fieldset {
  border: none;
  padding: 16px;
}
.background-login .auth fieldset legend {
  margin: 0 auto;
  padding: 8px 16px;
  background-color: #b39ddb;
}
.background-login .auth .login-btn {
  display: block;
  margin-bottom: 16px;
}
.background-login .auth .create-btn {
  display: inline-block;
  margin-bottom: 16px;
}
.background-login .auth .remember {
  display: block;
}
.background-login .auth a {
  display: block;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
}
.card-container .card {
  width: 23%;
  margin-left: 1%;
  margin-right: 1%;
}
.card-container .card .card-image {
  height: 150px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.card-container .card .card-image .more {
  position: absolute;
  right: 16px;
  top: 16px;
  color: white;
}
.card-container .card .card-image .reponse {
  position: absolute;
  top: 16px;
  left: 16px;
  color: white;
}
.card-container .card .card-image .card-title {
  text-transform: uppercase;
  position: static;
  margin: 0;
  width: 100%;
  vertical-align: bottom;
  padding-bottom: 8px;
  font-weight: bold;
  color: white;
}
.card-container .card .card-image .card-subtitle {
  margin: 0;
  padding: 0 24px;
  padding-bottom: 24px;
  color: white;
  font-style: italic;
}
.card-container .card .card-content {
  min-height: 136px;
}
.card-container .card .card-content .card-desc-cut {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.card-container .card .card-reveal .card-title {
  border-bottom: 1px solid black;
  margin-bottom: 16px;
  text-transform: uppercase;
}
.card-container .card .card-reveal .card-desc {
  margin: 0;
  margin-bottom: 8px;
}
.card-container .card .card-reveal .card-contact {
  margin: 0;
  margin-bottom: 8px;
}
.card-container .card .card-action {
  display: flex;
  justify-content: space-evenly;
  padding: 0;
  height: 50px;
  align-items: center;
}
.card-container .card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating) {
  margin: 0;
  padding: 0 12px;
}
@media screen and (max-width: 1400px) {
  .card-container .card {
    width: 31%;
  }
}
@media screen and (max-width: 992px) {
  .card-container .card {
    width: 31%;
  }
}
@media screen and (max-width: 770px) {
  .card-container .card {
    width: 48%;
  }
}
@media screen and (max-width: 600px) {
  .card-container .card {
    width: 98%;
  }
}

.tap {
  position: fixed;
  right: 32px;
  bottom: 32px;
  z-index: 299;
}
.tap .tap-target {
  background-color: #836fa9;
  color: white;
}
.tap .tap-target-wrapper {
  right: -338px !important;
}
.tap .btn-floating {
  width: 60px;
  height: 60px;
  line-height: 72px;
}

.modal {
  padding: 16px 16px 0px 16px;
}
.modal .modal-title {
  font-weight: bold;
  font-size: 20px;
}
.modal .modal-subtitle {
  font-style: italic;
}
.modal .form-delete {
  display: inline;
}

.modalUpdate {
  width: 80%;
  max-height: 90%;
}

@media screen and (max-width: 600px) {
  .tap .tap-target-wrapper {
    right: -238px !important;
  }
}
.recherche {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.recherche .search-poste {
  width: 100%;
  margin: 0 12px;
}
.recherche .search-city {
  width: 100%;
}
.recherche .search-range {
  width: 100%;
}
.recherche .search-range label {
  display: block;
}
.recherche .search-range input {
  width: 70%;
  margin-right: 16px;
}
.recherche .search-partenaire {
  margin: 12px;
}
.recherche .search-partenaire label {
  color: black;
}
.recherche .autoDisable {
  width: 100%;
  margin: 0 12px;
}
.recherche .dropdown-content {
  max-height: 500px;
}

.result .list-card {
  margin-bottom: 8px;
}

header, main, footer {
  padding-left: 300px;
}

hr {
  margin: 0;
}

header .navbar-fixed nav {
  right: 0;
  background-color: #836fa9;
}
header .sidenav {
  background-color: #f5f5f5;
  box-shadow: 3px 0 5px rgba(0, 0, 0, 0.35);
  z-index: 90;
  padding-top: 64px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
header .sidenav .profil {
  height: 200px;
  background-color: #e6ceff;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border-bottom: 5px solid #836fa9;
}
header .sidenav .profil .bvn {
  margin: 0;
  padding: 0 32px;
  font-size: 20px;
}
header .sidenav .profil .auth-name {
  margin: 0;
  padding: 0 32px;
  padding-bottom: 16px;
  font-size: 24px;
  font-weight: bold;
}
header .sidenav .badge {
  color: #b39ddb;
}
header .sidenav .submenu {
  display: flex;
}
header .sidenav .submenu li a:hover {
  background-color: transparent;
}
header .sidenav .submenu li a:hover .material-icons {
  animation: rubberBand 750ms infinite;
}
header .sidenav .submenu li a .material-icons {
  font-size: 36px;
  color: #b39ddb;
}

@media only screen and (max-width: 992px) {
  header, main, footer {
    padding-left: 0;
  }

  header .sidenav {
    padding-top: 0;
    z-index: 999;
  }
}
.container {
  width: 90%;
}

.switch {
  margin-bottom: 16px;
}
.switch label {
  font-size: 16px;
  color: black;
}

.radio {
  padding-top: 16px;
}
.radio label {
  position: initial;
  color: black;
}

#toast-container {
  right: 33%;
  top: unset;
  bottom: 5%;
}
#toast-container .toast {
  background-color: #30B349;
  padding: 10px 50px;
  box-shadow: 0 8px 17px 2px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
  right: 0;
}
#toast-container .toast-error {
  background-color: FireBrick;
}

.input-field .helper-text, .helper-text {
  color: FireBrick;
  display: block;
  margin-bottom: 8px;
}

/*# sourceMappingURL=app.css.map */
