.container{
    max-width: 1200px;
    margin: 0 auto;
}
.mdl-grid{
    padding: 50px;
}
.mdl-layout__header-row{
    padding: 40px!important;
}
.mdl-card{
    max-width: 100%!important;
}
.top{
    .mdl-textfield{
        width: 90%;
    }
}
.middle, .bottom{
    .mdl-textfield{
        display: block;
        width: 90%;
    }
    .slider{
        margin-bottom: 16px;
    }
    .radio{
        margin-right: 16px;
    }
}
.bottom .mdl-textfield__input{
    text-align: right;
}

h1{
    font-size: 36px;
}

.enterprise-card{
    .card-title{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        .title{
            align-self: flex-start;
            padding-top: 16px;
        }
        .subtitle{
            align-self: flex-start;
            font-style: italic;
            margin: 0;
        }
    }
}
