
@import "theming";
@import "materialize.scss";
@import "variables";

@import "login";
@import "homepage";
@import "recherche";



//LAYOUT
html, body{
    height: 100%;
}
header, main, footer {
    padding-left: 300px;
}
body{
    background-image: url('/images/img.jpg');
    background-attachment: fixed;
    position: relative;
}
hr{
    margin: 0;
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid $app-color-plight;
    padding: 0;
}
header{
    .navbar-fixed nav{
        right: 0;
        background-color: $app-color-pdark;
    }
    .sidenav{
        background-color: $app-color-grey;
        box-shadow: 3px 0 5px rgba(0,0,0,0.35);
        z-index: 90;
        padding-top: 64px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .profil{
            height: 180px;
            background-color: $app-color-plight;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            border-bottom: 5px solid $app-color-pdark;
            .bvn{
                margin: 0;
                padding: 0 32px;
                font-size: 20px;
                color: $app-color-primary;
            }
            .auth-name{
                margin: 0;
                padding: 0 32px;
                padding-bottom: 16px;
                font-size: 24px;
                font-weight: bold;
                color: $app-color-pdark;
            }
        }
        .badge{
            color:$app-color-primary;
        }
        .submenu{
            display: flex;
            justify-content: space-evenly;
            background-color: $app-color-primary;
            li{
                padding-top: 8px;
                a{
                    padding: 0 16px;
                    &:hover {
                        background-color: transparent;
                        .material-icons{
                            animation: rubberBand 750ms infinite;
                        }
                    }
                    .material-icons{
                        font-size: 24px;
                        color: $app-color-grey;
                    }
                }
            }
        }
    }
}
.submenu-login{
    display: flex;
    justify-content: space-evenly;
    position: fixed;
    top: 24px;
    right: 24px;
    width: 200px;
    @media only screen and (max-width : 600px){
        top: -16px;
        left: 0;
        right: 0;
        width: auto;
        background-color: $app-color-primary;
    }
    li{
        padding-top: 8px;
        a{
            &:hover {
                background-color: transparent;
                .material-icons{
                    animation: rubberBand 750ms infinite;
                }
            }
            .material-icons{
                font-size: 24px;
                color: $app-color-primary;
                @media only screen and (max-width : 600px){
                    color: $app-color-grey;
                }
            }
        }
    }
}
@media only screen and (max-width : 992px) {
    header, main, footer {
        padding-left: 0;
    }
    header .sidenav{
        padding-top: 0;
        z-index: 999;
    }
    nav .brand-logo.center{
        font-size: 22px!important;
    }

}
.container{
    width: 90%;
    &.idea, &.info, &.data{
        height: 100%;
        position: relative;

        .btn{
            margin-bottom: 48px;
        }
    }
}
.switch{
    margin-bottom: 16px;
    label{
        font-size: 16px;
        color: black;
    }
}
.radio{
    padding-top: 16px;
    label{
        position: initial;
        color: black;
    }
}
#toast-container{
    right: 33%;
    top: unset;
    bottom: 5%;
    @media only screen and (max-width : 600px) {
        right: 0;
        bottom: 0;
    }
    .toast{
        background-color: #30B349;
        padding: 10px 50px;
        box-shadow: 0 8px 17px 2px rgb(0 0 0 / 14%), 0 3px 14px 2px rgb(0 0 0 / 12%), 0 5px 5px -3px rgb(0 0 0 / 20%);
        right: 0;
    }
    .toast-error{
        background-color: FireBrick;
    }
}
.input-field .helper-text, .helper-text{
    color: FireBrick;
    display: block;
    margin-bottom: 8px;
}
.btn-footer{
    margin-bottom: 48px;
}
.info-text, .data-text, .idea-text{
    width: 60%;
    padding-top: 24px;
    @media only screen and (max-width : 600px) {
        padding-top: 48px;
        width: 100%;
    }
    .title{
        color: $app-color-secondary;
        font-size: 44px;
        margin-top: 0px;
        margin-bottom: 16px;
    }
    .subtitle{
        font-size: 24px;
        color: $app-color-primary;
        margin-top: 16;
        margin-bottom: 8px;
    }
    p{
        margin: 0;
        margin-bottom: 8px;
    }
    .last{
        margin-bottom: 48px;
    }
    .ital{
        font-style: italic;
    }

}
a:not(.btn){
    color: $app-color-secondary;
    &:visited{
        color: darken($app-color-secondary, 15%)
    }
}
textarea.materialize-textarea{
    height: 104px!important;
}


