.background-login {
  height: 100vh;
  background-color: #f0f2f4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.background-login .auth {
  display: inline-block;
}
.background-login .auth fieldset {
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid #673ab7;
  border-radius: 8px;
  padding: 40px;
  box-shadow: 2px 2px 10px #778899;
}
.background-login .auth fieldset legend {
  text-align: center;
  padding: 8px;
  background-color: #673ab7;
  border-radius: 8px;
  margin: 0 auto;
  width: 80%;
  color: #fff;
  font-weight: bold;
}
.background-login .auth fieldset .mdl-textfield {
  display: block;
}
.background-login .auth fieldset .btn {
  margin-bottom: 16px;
  display: inline-block;
}
.background-login .auth fieldset a {
  display: block;
}
.background-login .auth fieldset .error {
  color: red;
}
.background-login .auth fieldset .rgpd {
  max-width: 300px;
  display: block;
}
.background-login .auth fieldset .rgpd span {
  font-size: 12px;
  line-height: 12px;
}
.background-login .auth fieldset .remember {
  margin-bottom: 16px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.mdl-grid {
  padding: 50px;
}

.mdl-layout__header-row {
  padding: 40px !important;
}

.mdl-button--fab:hover {
  box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.25), 0 1px 10px 0 rgba(0, 0, 0, 0.35);
}

.mdl-layout__drawer > .mdl-layout-title {
  background-color: #392063;
  height: 80px;
  color: white;
  padding-top: 10px;
}
.mdl-layout__drawer > .mdl-layout-title .square {
  text-align: center;
  display: block;
  height: 60px;
  width: 60px;
  line-height: 60px;
  background-color: #ffAB40;
  font-size: 50px;
  font-weight: bold;
  border-radius: 4px;
}

.mdl-navigation__link {
  text-transform: uppercase;
}
.mdl-navigation__link::after {
  content: "";
  padding-left: 0px;
  opacity: 0;
  transition: 500ms;
}
.mdl-navigation__link:hover::after {
  content: "";
  height: 20px;
  background-image: url(/images/caret.svg?16b626e6cc4a3f1bcace9d433fb39d08);
  background-size: contain;
  background-position: center right;
  background-repeat: no-repeat;
  padding-left: 20px;
  opacity: 100;
  color: #757575;
}

.mdl-card {
  max-width: 100%;
  height: 100%;
  justify-content: space-between;
  border-radius: 4px;
}

.top .mdl-textfield {
  width: 90%;
}

.middle .mdl-textfield, .bottom .mdl-textfield {
  display: block;
  width: 90%;
}
.middle .slider, .bottom .slider {
  margin-bottom: 16px;
}
.middle .radio, .bottom .radio {
  margin-right: 16px;
}

.bottom .mdl-textfield__input {
  text-align: right;
}

h1 {
  font-size: 36px;
  padding-left: 10px;
}

.enterprise-card .card-title {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-height: 100px;
  position: relative;
}
.enterprise-card .card-title .mail-logo {
  height: 20px;
  width: 20px;
  position: absolute;
  top: 16px;
  right: 16px;
}
.enterprise-card .card-title .mail-logo img {
  width: 100%;
}
.enterprise-card .card-title .title {
  align-self: flex-start;
  color: white;
  font-weight: bold;
  font-size: 20px;
  text-transform: uppercase;
}
.enterprise-card .card-title .subtitle {
  align-self: flex-start;
  font-style: italic;
  margin: 0;
  color: white;
}
.enterprise-card .mdl-card__supporting-text {
  height: 100%;
}
.enterprise-card .mail, .enterprise-card .contact, .enterprise-card .phone {
  display: block;
  margin-bottom: 8px;
}
.enterprise-card .contact {
  font-weight: bold;
}
.enterprise-card .desc {
  overflow: auto;
  max-height: 150px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}
.enterprise-card .btn-delete {
  display: inline;
}

@-webkit-keyframes rubberBand {
  from {
    transform: scale3d(1, 1, 1);
  }
  30% {
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    transform: scale3d(1.05, 0.95, 1);
  }
  to {
    transform: scale3d(1, 1, 1);
  }
}

@keyframes rubberBand {
  from {
    transform: scale3d(1, 1, 1);
  }
  30% {
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    transform: scale3d(1.05, 0.95, 1);
  }
  to {
    transform: scale3d(1, 1, 1);
  }
}
.mdl-layout-title {
  position: relative;
}

.nav-bottom {
  position: absolute;
  bottom: 0;
}
.nav-bottom ul {
  list-style: none;
  display: flex;
  flex-direction: row;
}
.nav-bottom ul li {
  height: 50px;
  width: 50px;
  overflow: hidden;
}
.nav-bottom ul li a {
  text-align: center;
  display: block;
  height: 100%;
  width: 100%;
}
.nav-bottom ul li a img {
  padding-top: 10px;
  height: 50%;
}
.nav-bottom ul li a:hover img {
  -webkit-animation: rubberBand 1000ms infinite;
          animation: rubberBand 1000ms infinite;
}
.nav-bottom ul li a:focus {
  outline: none;
}

.data-text, .info-text {
  padding-top: 50px;
  width: 50%;
}

.idea-text {
  padding-top: 50px;
}

@media screen and (max-width: 1500px) {
  .container {
    padding: 0 25px;
  }
}
@media screen and (max-width: 450px) {
  h1 {
    font-size: 24px;
  }

  .mdl-grid {
    padding: 10px;
  }

  .mdl-card {
    width: 100%;
  }

  .enterprise-card .card-title {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .enterprise-card .card-title .title {
    margin-right: 8px;
  }
}
